canvas {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 70vw !important;
  height: 50vh !important;
}

.inputs {
  display: flex;
  flex-direction: row;
  position: absolute;
  gap: 5vw;
  height: 5vh;
  left: 50%;
  top: 90%;
  transform: translate(-50%, -50%);
}

.inputs > button {
  width: 5vw;
}
